# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains IDEs

.idea/workspace.xml
.idea/tasks.xml

#
*~
*.oni
*.txt.user

CMakeCache.txt
CMakeFiles
CMakeScripts
install_manifest.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake-build-debug/
.idea/
.idea/dictionaries/